@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**variables**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  height: auto;
  background-color: #202020;
  font-family: "Poppins", sans-serif; }
  .header .navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    padding: 0 2rem; }
    .header .navbar .logo {
      width: 30%; }
      .header .navbar .logo img {
        height: 5rem;
        background-size: contain;
        border-radius: 50%; }
    .header .navbar .h1-titulo {
      color: aliceblue;
      font-family: "Poppins", sans-serif;
      text-transform: capitalize; }
    .header .navbar .label-hamburguesa .list-icon {
      color: white;
      cursor: pointer; }
    .header .navbar .menu-hamburguesa {
      display: none; }
    .header .navbar .menu-hamburguesa:checked + .ul-links {
      height: calc(100vh - 5rem); }
    .header .navbar .ul-links {
      width: 50%;
      top: 80px;
      height: 0;
      right: 0;
      overflow: hidden;
      /*height: calc(100vh - 5rem);*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px; }
      .header .navbar .ul-links .li-links {
        list-style: none; }
        .header .navbar .ul-links .li-links .link {
          text-transform: capitalize;
          text-decoration: none;
          color: #EEEEEE; }

.main-inicio {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #c7c8cc; }
  .main-inicio .h2-sobre-mi {
    width: 100%;
    height: auto;
    background-color: #dc8686; }
    .main-inicio .h2-sobre-mi h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.25rem;
      font-family: "Poppins", sans-serif; }
  .main-inicio .p-sobre-mi {
    width: 40%;
    height: auto; }
    .main-inicio .p-sobre-mi p {
      width: 100%;
      padding: 5.9375rem;
      font-size: 20px;
      text-align: center;
      font-family: "Roboto", sans-serif; }
    .main-inicio .p-sobre-mi .button-inf {
      padding-left: 33%; }
      .main-inicio .p-sobre-mi .button-inf a:hover {
        text-decoration: overline; }
      .main-inicio .p-sobre-mi .button-inf a button {
        border-radius: 4px;
        cursor: pointer;
        padding: 5px 10px;
        margin-left: 3.4375rem; }
  .main-inicio .img-sobre-mi {
    width: 50%; }
    .main-inicio .img-sobre-mi img {
      width: 80%;
      height: 43.75rem;
      margin: 50px;
      border-radius: 50%; }
    .main-inicio .img-sobre-mi .p-direccion {
      width: 100%;
      height: auto;
      padding: 30px;
      padding-left: 20%;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      text-transform: capitalize;
      top: 0; }
  .main-inicio .h2_ppda {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem;
    height: auto;
    background-color: #dc8686;
    font-family: "Poppins", sans-serif; }
  .main-inicio .section_ppda {
    width: 100%;
    height: auto; }
    .main-inicio .section_ppda iframe {
      width: 70%;
      height: 500px;
      margin: 1rem;
      padding: 1rem; }
  .main-inicio .p-ppda {
    width: 100%;
    height: auto;
    font-family: "Roboto", sans-serif;
    margin: 3.125rem; }

.main-proyectos {
  width: 100%;
  height: 150.00rem;
  background-color: #c7c8cc;
  font-family: "Poppins", sans-serif; }
  .main-proyectos .main-titulo-proyectos {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    background-color: #dc8686;
    padding-top: 10px; }
  .main-proyectos .slider-box-anzed {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-anzed ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 20s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-anzed ul li {
        width: 90%;
        list-style: none;
        position: relative; }
        .main-proyectos .slider-box-anzed ul li .texto {
          width: 100%; }
          .main-proyectos .slider-box-anzed ul li .texto h2 {
            font-family: "Roboto", sans-serif;
            text-transform: capitalize; }
        .main-proyectos .slider-box-anzed ul li .a1 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-anzed ul li .a2 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-anzed ul li .a3 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-anzed ul li .a4 {
          width: 95%;
          height: 31.25rem; }
  .main-proyectos .slider-box-akapellah {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-akapellah ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 20s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-akapellah ul li {
        width: 90%;
        list-style: none;
        position: relative; }
        .main-proyectos .slider-box-akapellah ul li .texto {
          width: 100%; }
          .main-proyectos .slider-box-akapellah ul li .texto h2 {
            font-family: "Roboto", sans-serif;
            text-transform: capitalize; }
        .main-proyectos .slider-box-akapellah ul li .aka1 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka2 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka3 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka4 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka5 {
          width: 95%;
          height: 31.25rem; }
  .main-proyectos .slider-box-stand-up {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-stand-up ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 20s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-stand-up ul li {
        width: 90%;
        list-style: none;
        position: relative; }
        .main-proyectos .slider-box-stand-up ul li .texto {
          width: 100%; }
          .main-proyectos .slider-box-stand-up ul li .texto h2 {
            font-family: "Roboto", sans-serif;
            text-transform: capitalize; }
        .main-proyectos .slider-box-stand-up ul li .stu1 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu2 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu3 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu4 {
          width: 95%;
          height: 31.25rem; }

@keyframes slide {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

/** .main-proyectos{
    width: 100%;
    height: auto;
    background-color:$bg-main;
     h2{
        @include h2(100%, center, uppercase, 1.25rem);
        font-family:$font-family-title;
        background-color: $bg-h2;
    }
        .proyecto-container{
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            margin-left: .3125rem;
            justify-content: center;
            .card-anzed{
                h3{
                    font-family:$font-family-title;
                    text-transform:capitalize;
                }
                display: flex;
                flex-direction: column;
                width: 29%;
                gap: 1.875rem;

            }
            .card-akapellah{
                h3{
                    font-family:$font-family-title;
                    text-transform:capitalize;
                }
                display: flex;
                flex-direction: column;
                width: 29%;
                gap: 1.875rem;
            }
            .card-lilsupa{
                h3{
                    font-family:$font-family-title;
                    text-transform:capitalize;
                }
                display: flex;
                flex-direction: column;
                width: 29%;
                gap: 1.875rem;
            }
        }
    .proyecto-container-div2{
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        .card-nanutria{
            h3{
                font-family:$font-family-title;
                text-transform:capitalize;
            }
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 1.875rem;
            margin: 2.1875rem;
        }
        .card-pda{
            h3{
                font-family:$font-family-title;
                text-transform:capitalize;
            }
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 1.875rem;
            justify-content: center;
        }
    }
}**/
.main-servicios {
  width: 100%;
  height: auto;
  background-color: #c7c8cc; }
  .main-servicios .h2-servicios {
    width: 100%;
    height: auto;
    background-color: #dc8686; }
    .main-servicios .h2-servicios h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.25rem;
      font-family: "Poppins", sans-serif; }
  .main-servicios .producto-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: .9375rem; }
    .main-servicios .producto-container h3 {
      text-transform: capitalize; }
    .main-servicios .producto-container p {
      font-size: 18px; }
    .main-servicios .producto-container button {
      border-radius: 4px;
      cursor: pointer;
      padding: 5px 10px; }
  .main-servicios .map-container {
    align-items: center;
    padding-top: 5%;
    padding-left: 30%; }

.main-faq {
  width: 100%;
  height: auto;
  background-color: #c7c8cc; }
  .main-faq .h2-faq {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    background-color: #dc8686; }
  .main-faq .ul-faq {
    width: 100%;
    height: auto;
    padding: 1.875rem; }
    .main-faq .ul-faq li {
      font-family: "Poppins", sans-serif; }
    .main-faq .ul-faq p {
      width: 80%;
      font-family: "Roboto", sans-serif; }

.main-contacto {
  width: 100%;
  height: auto;
  background-color: #c7c8cc;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-contacto form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 23.125rem; }
    .main-contacto form h2 {
      color: #0f0101;
      font-size: 35px; }
    .main-contacto form .input-group {
      display: flex;
      flex-direction: column;
      text-align: left; }
      .main-contacto form .input-group label {
        color: black;
        font-size: 15px;
        margin-bottom: 15px; }
      .main-contacto form .input-group input {
        padding: 17px 25px;
        border-radius: 1.5625rem;
        margin-bottom: 20px;
        outline: none; }
      .main-contacto form .input-group textarea {
        padding: 17px 25px;
        border-radius: 1.5625rem;
        margin-bottom: 20px;
        outline: none; }
    .main-contacto form .button {
      font-size: 16px;
      color: black;
      border-radius: 25px;
      cursor: pointer; }
      .main-contacto form .button:hover {
        background-color: #272727; }

.footer_inicio {
  width: 100%;
  height: auto;
  background-color: #434344;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  .footer_inicio .ul-principal-footer {
    margin: 1.5625rem;
    padding: 1.25rem;
    font-family: "Roboto", sans-serif;
    color: #000000;
    list-style: disc;
    text-transform: capitalize; }
  .footer_inicio .suscripcion {
    display: flex;
    justify-content: center;
    border: none; }
    .footer_inicio .suscripcion form {
      text-align: center; }
      .footer_inicio .suscripcion form label {
        color: black;
        font-size: 15px; }
      .footer_inicio .suscripcion form input {
        border-radius: 1.5625rem; }
  .footer_inicio .hr_footer {
    flex-direction: row-reverse;
    border-bottom: 1px solid #dddddd; }
  .footer_inicio .p_footer {
    margin-top: 1.25rem;
    text-align: center;
    color: #EEEEEE; }
  .footer_inicio .redes {
    width: 100%;
    flex-direction: row;
    gap: 1rem; }
    .footer_inicio .redes .instagram img {
      width: 5%; }
    .footer_inicio .redes .youtube img {
      width: 5%; }
    .footer_inicio .redes .mail img {
      width: 5%; }
    .footer_inicio .redes .whatsapp img {
      width: 5%; }

/*card de proyectos*/
.card1 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card1:hover, .card1:focus {
    transform: scale(1.1); }
  .card1 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card2 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card2:hover, .card2:focus {
    transform: scale(1.1); }
  .card2 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card3 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card3:hover, .card3:focus {
    transform: scale(1.1); }
  .card3 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card4 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card4:hover, .card4:focus {
    transform: scale(1.1); }
  .card4 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card5 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card5:hover, .card5:focus {
    transform: scale(1.1); }
  .card5 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card6 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card6:hover, .card6:focus {
    transform: scale(1.1); }
  .card6 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card7 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card7:hover, .card7:focus {
    transform: scale(1.1); }
  .card7 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card8 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card8:hover, .card8:focus {
    transform: scale(1.1); }
  .card8 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card9 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card9:hover, .card9:focus {
    transform: scale(1.1); }
  .card9 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card10 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card10:hover, .card10:focus {
    transform: scale(1.1); }
  .card10 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card11 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card11:hover, .card11:focus {
    transform: scale(1.1); }
  .card11 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card12 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card12:hover, .card12:focus {
    transform: scale(1.1); }
  .card12 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card13 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card13:hover, .card13:focus {
    transform: scale(1.1); }
  .card13 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card14 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card14:hover, .card14:focus {
    transform: scale(1.1); }
  .card14 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card15 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card15:hover, .card15:focus {
    transform: scale(1.1); }
  .card15 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card16 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card16:hover, .card16:focus {
    transform: scale(1.1); }
  .card16 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card17 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card17:hover, .card17:focus {
    transform: scale(1.1); }
  .card17 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card18 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card18:hover, .card18:focus {
    transform: scale(1.1); }
  .card18 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card19 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card19:hover, .card19:focus {
    transform: scale(1.1); }
  .card19 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

.card20 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: -14px -8px 10px #000; }
  .card20:hover, .card20:focus {
    transform: scale(1.1); }
  .card20 img {
    width: 100%;
    height: 100%;
    object-fit: contain; }

/*card de servicios*/
.card {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000; }
  .card img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .card div {
    width: 100%;
    text-align: center; }

.card-2 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000; }
  .card-2 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .card-2 div {
    width: 100%;
    text-align: center; }

.card-3 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000; }
  .card-3 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .card-3 div {
    width: 100%;
    text-align: center; }

.card-4 {
  width: 15.625rem;
  height: 12.5rem;
  background-color: gray;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000; }
  .card-4 img {
    width: 100%;
    height: 50%;
    object-fit: contain; }
  .card-4 div {
    width: 100%;
    text-align: center; }

@media (max-width: 1024px) {
  .main-inicio .p-sobre-mi {
    width: 49%; }
    .main-inicio .p-sobre-mi p {
      width: 100%;
      padding: 2.25rem;
      font-size: 20px;
      text-align: center; }
    .main-inicio .p-sobre-mi .button-inf {
      padding-left: 30%; }
  .main-inicio .img-sobre-mi {
    width: 50%; }
    .main-inicio .img-sobre-mi img {
      width: 85%;
      height: 30rem;
      margin: 5%; } }

@media (max-width: 1024px) {
  .main-proyectos .slider-box-anzed {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 0;
    overflow: hidden; }
    .main-proyectos .slider-box-anzed ul li .texto {
      width: 100%; }
      .main-proyectos .slider-box-anzed ul li .texto h2 {
        font-family: "Roboto", sans-serif;
        text-transform: capitalize; }
    .main-proyectos .slider-box-anzed ul li .a1 {
      width: 75%;
      height: 25rem;
      margin-left: 15px; }
    .main-proyectos .slider-box-anzed ul li .a2 {
      width: 75%;
      height: 25rem;
      margin-left: 15px; }
    .main-proyectos .slider-box-anzed ul li .a3 {
      width: 75%;
      height: 25rem;
      margin-left: 15px; }
    .main-proyectos .slider-box-anzed ul li .a4 {
      width: 75%;
      height: 25rem;
      margin-left: 15px; }
  .main-proyectos .slider-box-akapellah {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-akapellah ul li .aka1 {
      width: 95%;
      height: 31.25rem; }
    .main-proyectos .slider-box-akapellah ul li .aka2 {
      width: 99%;
      height: 31.25rem; }
    .main-proyectos .slider-box-akapellah ul li .aka3 {
      width: 100%;
      height: 43.75rem; }
    .main-proyectos .slider-box-akapellah ul li .aka4 {
      width: 95%;
      height: 31.25rem; }
    .main-proyectos .slider-box-akapellah ul li .aka5 {
      width: 95%;
      height: 31.25rem; }
  .main-proyectos .slider-box-stand-up {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-stand-up ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 20s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-stand-up ul li {
        width: 90%;
        list-style: none;
        position: relative; }
        .main-proyectos .slider-box-stand-up ul li .texto {
          width: 100%; }
          .main-proyectos .slider-box-stand-up ul li .texto h2 {
            font-family: "Roboto", sans-serif;
            text-transform: capitalize; }
        .main-proyectos .slider-box-stand-up ul li .stu1 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu2 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu3 {
          width: 95%;
          height: 31.25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu4 {
          width: 95%;
          height: 31.25rem; } }

@media (max-width: 1024px) {
  .main-servicios {
    width: 100%;
    height: auto;
    background-color: #c7c8cc; }
    .main-servicios .h2-servicios {
      width: 100%;
      height: auto;
      background-color: #dc8686; }
      .main-servicios .h2-servicios h2 {
        width: 100%;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.25rem;
        font-family: "Poppins", sans-serif; }
    .main-servicios .producto-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: .9375rem;
      gap: .9375rem;
      align-items: center; }
      .main-servicios .producto-container .card {
        width: 50%;
        height: 15.625rem;
        background-color: gray;
        border-radius: 5px;
        box-shadow: -14px -8px 10px #000; }
      .main-servicios .producto-container .card-2 {
        width: 50%;
        height: 15.625rem;
        background-color: gray;
        border-radius: 5px;
        box-shadow: -14px -8px 10px #000; }
      .main-servicios .producto-container .card-3 {
        width: 50%;
        height: 15.625rem;
        background-color: gray;
        border-radius: 5px;
        box-shadow: -14px -8px 10px #000; }
      .main-servicios .producto-container .card-4 {
        width: 50%;
        height: 15.625rem;
        background-color: gray;
        border-radius: 5px;
        box-shadow: -14px -8px 10px #000; }
      .main-servicios .producto-container h3 {
        text-transform: capitalize; }
      .main-servicios .producto-container p {
        font-size: 19px; }
      .main-servicios .producto-container button {
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 13px; }
    .main-servicios .map-container {
      padding-left: 20%; } }

@media (min-width: 768px) {
  .header {
    width: 100%; }
    .header .navbar {
      width: 100%; }
      .header .navbar .label-hamburguesa {
        display: none; }
      .header .navbar .ul-links {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row; }
        .header .navbar .ul-links .li-links {
          color: white;
          padding: .2rem; }
          .header .navbar .ul-links .li-links .link {
            font-size: 1rem;
            transition: all .3s; }
            .header .navbar .ul-links .li-links .link:hover {
              background-color: #575757; } }

@media (max-width: 768px) {
  .main-inicio {
    width: 100%;
    flex-direction: column; }
    .main-inicio .p-sobre-mi {
      width: 100%; }
      .main-inicio .p-sobre-mi p {
        width: 100%;
        padding: 2.25rem;
        font-size: 20px;
        text-align: center; }
      .main-inicio .p-sobre-mi .button-inf {
        padding-left: 37%; }
    .main-inicio .img-sobre-mi {
      width: 100%; }
      .main-inicio .img-sobre-mi img {
        width: 85%;
        height: 680px; }
    .main-inicio .p-ppda {
      width: 80%;
      margin: 1.5625rem;
      font-size: 20px; } }

@media (max-width: 768px) {
  .main-servicios {
    width: 100%;
    height: auto; }
    .main-servicios .map-container {
      width: 100%;
      padding-top: 20px;
      padding-left: 0; }
      .main-servicios .map-container iframe {
        width: 95%; } }

@media (max-width: 768px) {
  .main-faq {
    width: 100%;
    height: 76.900rem; }
    .main-faq .ul-faq p {
      width: 80%;
      font-family: "Roboto", sans-serif; } }

@media (max-width: 430px) {
  .main-inicio {
    flex-direction: column; }
    .main-inicio .h2-sobre-mi h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem; }
    .main-inicio .p-sobre-mi {
      width: 100%; }
      .main-inicio .p-sobre-mi .button-inf {
        padding-left: 27%; }
    .main-inicio .img-sobre-mi {
      width: 90%; }
      .main-inicio .img-sobre-mi img {
        width: 90%;
        height: 350px;
        margin: 10%; }
    .main-inicio .p-ppda {
      width: 80%;
      margin: 1.5625rem; } }

@media (max-width: 430px) {
  .main-faq {
    height: 125rem; }
    .main-faq .h2-faq {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 16px; }
    .main-faq .ul-faq {
      padding: 45px; } }

@media (max-width: 428px) {
  .main-inicio {
    flex-direction: column; }
    .main-inicio .h2-sobre-mi h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem; }
    .main-inicio .p-sobre-mi {
      width: 100%; }
      .main-inicio .p-sobre-mi .button-inf {
        padding-left: 27%; }
    .main-inicio .img-sobre-mi {
      width: 90%; }
      .main-inicio .img-sobre-mi img {
        width: 90%;
        height: 350px;
        margin: 10%; }
    .main-inicio .p-ppda {
      width: 80%;
      margin: 1.5625rem; } }

@media (max-width: 428px) {
  .main-servicios {
    height: 87.5rem; }
    .main-servicios .h2-servicios h2 {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.125rem; }
    .main-servicios .producto-container {
      flex-direction: column;
      gap: .9375rem;
      align-items: center; }
      .main-servicios .producto-container p {
        font-size: 18px; }
    .main-servicios .map-container {
      width: 100%;
      padding-top: 0;
      padding-left: 0; }
      .main-servicios .map-container iframe {
        width: 95%; } }

@media (max-width: 428px) {
  .main-faq {
    height: 125rem; }
    .main-faq .h2-faq {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 16px; }
    .main-faq .ul-faq {
      padding: 45px; } }

@media (max-width: 425px) {
  .main-inicio .p-sobre-mi {
    width: 100%; }
  .main-inicio .img-sobre-mi {
    width: 100%; }
    .main-inicio .img-sobre-mi img {
      width: 80%;
      border-radius: 45%; }
  .main-inicio .section_ppda iframe {
    width: 90%; }
  .main-inicio .section_ppda .p-ppda {
    width: 80%;
    margin: 30px; } }

/**@media (max-width:425px){
    
    .main-proyectos{
        width: 100%;
        height: 312.5rem;
        
        .proyecto-container{
            width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        .card-anzed{
            width: 100%;
        }
        
        .card-akapellah{
         width: 100%;
        }
        
        .card-lilsupa{
        width: 100%;
      }
    } 
    .proyecto-container-div2{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .card-nanutria{
         width: 100%;
         align-items: center;
         margin: 0;
        }
        .card-pda{
         width: 100%;
         align-items: center;
        }
    }
 }
}**/
@media (max-width: 425px) {
  .main-servicios {
    width: 100%;
    height: auto; }
    .main-servicios .producto-container {
      flex-direction: column;
      gap: .9375rem;
      align-items: center; }
      .main-servicios .producto-container p {
        font-size: 18px; }
    .main-servicios .map-container {
      width: 100%;
      padding-top: 0;
      padding-left: 0; }
      .main-servicios .map-container iframe {
        width: 95%; } }

@media (max-width: 425px) {
  .main-faq {
    height: 130rem; }
    .main-faq .h2-faq {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 16px; } }

@media (max-width: 425px) {
  .footer_inicio {
    height: auto; } }

@media (max-width: 393px) {
  .main-faq {
    height: 146.875rem; }
    .main-faq .h2-faq {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 16px; } }

@media (max-width: 320px) {
  .main-inicio {
    flex-direction: column; }
    .main-inicio .h2-sobre-mi h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem; }
    .main-inicio .p-sobre-mi {
      width: 100%; }
      .main-inicio .p-sobre-mi .button-inf {
        padding-left: 20%; }
    .main-inicio .img-sobre-mi {
      width: 90%; }
      .main-inicio .img-sobre-mi img {
        width: 80%;
        height: 350px;
        margin: 15%; }
      .main-inicio .img-sobre-mi .p-direccion {
        padding: 10px;
        padding-left: 15%;
        font-size: 16px; }
    .main-inicio .h2_ppda {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem; }
    .main-inicio .section_ppda iframe {
      width: 90%; }
    .main-inicio .p-ppda {
      width: 80%;
      margin: 1.5625rem; } }

.main-proyectos {
  height: 112.5rem; }
  .main-proyectos .main-titulo-proyectos {
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.25rem; }
  .main-proyectos .slider-box-anzed {
    width: 100%;
    height: 35.5rem;
    margin: 0 auto 0;
    padding: 0.625rem;
    overflow: hidden; }
    .main-proyectos .slider-box-anzed ul {
      animation: slide 10s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-anzed ul li {
        width: 100%;
        height: 200px; }
        .main-proyectos .slider-box-anzed ul li .a1 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-anzed ul li .a2 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-anzed ul li .a3 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-anzed ul li .a4 {
          width: 95%;
          height: 25rem; }
  .main-proyectos .slider-box-akapellah {
    width: 100%;
    height: 35.5rem;
    margin: 0 auto 0;
    padding: 0.9375rem;
    overflow: hidden; }
    .main-proyectos .slider-box-akapellah ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 10s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-akapellah ul li {
        width: 100%; }
        .main-proyectos .slider-box-akapellah ul li .aka1 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka2 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka3 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka4 {
          width: 95%;
          height: 25rem; }
        .main-proyectos .slider-box-akapellah ul li .aka5 {
          width: 95%;
          height: 25rem; }
  .main-proyectos .slider-box-stand-up {
    width: 100%;
    height: 48.625rem;
    margin: 0 auto 0;
    padding: 2.1875rem;
    overflow: hidden; }
    .main-proyectos .slider-box-stand-up ul {
      display: flex;
      padding: 0;
      width: 400%;
      animation: slide 20s infinite alternate ease-in-out; }
      .main-proyectos .slider-box-stand-up ul li {
        width: 100%; }
        .main-proyectos .slider-box-stand-up ul li .texto {
          width: 100%; }
          .main-proyectos .slider-box-stand-up ul li .texto h2 {
            font-family: "Roboto", sans-serif;
            text-transform: capitalize; }
        .main-proyectos .slider-box-stand-up ul li .stu1 {
          width: 97%;
          height: 25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu2 {
          width: 97%;
          height: 25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu3 {
          width: 97%;
          height: 25rem; }
        .main-proyectos .slider-box-stand-up ul li .stu4 {
          width: 97%;
          height: 25rem; }

@media (max-width: 320px) {
  .main-servicios {
    height: 99.375rem; }
    .main-servicios .h2-servicios h2 {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 1rem; }
    .main-servicios .producto-container {
      gap: .9375rem; }
      .main-servicios .producto-container p {
        font-size: .9375rem; }
      .main-servicios .producto-container button {
        border-radius: 3px;
        padding: 5px 5px; }
    .main-servicios .map-container {
      width: 100%;
      padding-top: .625rem;
      padding-left: 0; }
      .main-servicios .map-container iframe {
        width: 95%; } }

@media (max-width: 320px) {
  .main-faq {
    height: auto; }
    .main-faq .h2-faq {
      width: 100%;
      text-align: center;
      text-transform: capitalize;
      font-size: 16px; } }
