@media (max-width:425px){
    .main-inicio{
    .p-sobre-mi{
         width: 100%;
        }
        .img-sobre-mi{
            width: 100%;
            img{
                width: 80%;
                border-radius: 45%;
            }
     }
     .section_ppda{
        iframe{
            width: 90%;
            }
        .p-ppda{
        width: 80%;
        margin: 30px;
    }
}
}
}


/**@media (max-width:425px){
    
    .main-proyectos{
        width: 100%;
        height: 312.5rem;
        
        .proyecto-container{
            width: 100%; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        .card-anzed{
            width: 100%;
        }
        
        .card-akapellah{
         width: 100%;
        }
        
        .card-lilsupa{
        width: 100%;
      }
    } 
    .proyecto-container-div2{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .card-nanutria{
         width: 100%;
         align-items: center;
         margin: 0;
        }
        .card-pda{
         width: 100%;
         align-items: center;
        }
    }
 }
}**/




@media (max-width:425px){
    .main-servicios{
        width: 100%;
        height: auto;
    .producto-container{
        flex-direction: column;
        gap: .9375rem;
        align-items: center;
        p{
            font-size: 18px;
        }
    }
    .map-container{
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        iframe{
            width: 95%;
        }
    }
}
}


@media (max-width:425px){
        .main-faq{
           height: 130rem;
            .h2-faq{
                @include h2(100%, center, capitalize, 16px);
            }
        }
}

@media (max-width:425px){
    .footer_inicio{
        height: auto;
    }
}