.footer_inicio{
    width: 100%;
    height: auto;
    background-color:$bg-footer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .ul-principal-footer{
        margin: 1.5625rem;
        padding: 1.25rem;
        font-family:$font-family-text;
        color: #000000;
        list-style:disc;
        text-transform: capitalize;
    }
    .suscripcion{
        display: flex;
        justify-content: center;
        border: none;
        form{
            text-align: center;
            width: 23.125rem;
            label{
                color: black;
                font-size: 15px;
            }
            input{
                border-radius: 1.5625rem;
            }
        }
    }
    .hr_footer{
        flex-direction: row-reverse;
        border-bottom: 1px solid #dddddd
    }
    .p_footer{
        margin-top: 1.25rem;
        text-align: center;
        color:$color-text;
    }
    .redes{
        width: 100%;
        flex-direction: row;
        gap: 1rem;
        .instagram{
            img{
                width: 5%;
            }
        }   
            .youtube{
                img{
                    width: 5%;
                }   
        }
            .mail{
                img{
                 width: 5%;
                }
            }
            .whatsapp{
                img{
                    width: 5%;
                }
            }
    
    }
}