.header{
  height: auto;
  background-color: $bg-header;
  font-family: $font-family-title;
  .navbar{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    padding: 0 2rem;
    .logo{
      width: 30%;
       img{
         height: 5rem;
         background-size: contain;
         border-radius: 50%;
       }
     }
     .h1-titulo{
       color: aliceblue;
       font-family: $font-family-title;
       text-transform: capitalize;
     }
     .label-hamburguesa{
       .list-icon{
        color: white;
        cursor: pointer;
      }
    }
    .menu-hamburguesa{
      display: none;
    }
    .menu-hamburguesa:checked + .ul-links{
      height: calc(100vh - 5rem);
} 
    .ul-links{
      width: 50%;
      top: 80px;
      height: 0;
      right: 0;
      overflow: hidden;
      /*height: calc(100vh - 5rem);*/
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;
      .li-links{
        list-style: none;
        .link{
          text-transform: capitalize;
          text-decoration: none;
          color: $color-text;
        }
      }
    }
  }
}